@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Noto Sans KR";
  color: #333;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

fieldset {
  border: none;
}

button {
  border: none;
}

input {
  border: 1px solid #ddd;
}

input:focus {
  outline: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

#header.header_sub {
  position: relative;
}

section.content > .inner {
  min-height: 500px;
  padding: 50px 0;
}

.sub_visual {
  width: 100%;
  height: 40vh;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.sub_visual > .inner {
  position: relative;
  height: 100%;
}
.sub_visual h1 {
  position: absolute;
  left: 20px;
  bottom: 30px;
  font-size: 6vh;
  font-weight: 600;
  color: #333;
}
.sub_visual h1 span {
  margin-left: 20px;
  position: relative;
  padding-left: 20px;
  font-size: 4vh;
  font-weight: 400;
  color: #777;
}
.sub_visual h1 span::after {
  content: "/";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1179px) {
  .sub_visual h1 {
    font-size: 5vh;
  }
  .sub_visual span {
    display: block;
    font-size: 3vh;
  }
}
@media screen and (max-width: 539px) {
  .sub_visual h1 {
    font-size: 4vh;
  }
  .sub_visual span {
    font-size: 2vh;
  }
}
.about {
  width: 100%;
  min-height: 500px;
}
.about #aboutTab {
  position: relative;
  margin: 50px auto 0;
  padding-top: 50px;
  width: 100%;
}
.about #aboutTab dt {
  position: absolute;
  top: 0;
}
.about #aboutTab dt a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 50px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 20px;
  color: #777;
  transition: 0.5s;
}
.about #aboutTab dt:nth-of-type(1) {
  left: 0;
}
.about #aboutTab dt:nth-of-type(2) {
  left: 186px;
}
.about #aboutTab dt.on a {
  color: #333;
  font-weight: 600;
  background-color: #ddd;
}
.about #aboutTab dd {
  width: 100%;
  background-color: #fff;
  display: none;
  font-size: 50px;
}
.about #aboutTab dd.on {
  display: block;
}
.about #aboutTab dd .company {
  width: 100%;
  padding: 100px 0;
}
.about #aboutTab dd .company article {
  margin-bottom: 200px;
}
.about #aboutTab dd .company .content {
  width: 100%;
}
.about #aboutTab dd .company .content .left {
  width: 40%;
  margin-right: 20%;
  float: left;
}
.about #aboutTab dd .company .content .left span {
  display: block;
  margin-bottom: 30px;
  font-size: 18px;
}
.about #aboutTab dd .company .content .left h1 {
  margin-bottom: 60px;
  font-size: 55px;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Koulen";
}
.about #aboutTab dd .company .content .left p {
  font-size: 25px;
  line-height: 1.4;
  color: #777;
  font-family: "Open Sans";
}
.about #aboutTab dd .company .content .right {
  width: 40%;
  float: right;
}
.about #aboutTab dd .company .content .right .img {
  position: relative;
  width: 100%;
  height: 500px;
}
.about #aboutTab dd .company .content .right .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about #aboutTab dd .company .content .right .img img.img2 {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: -25%;
  transform: translateY(-50%);
  width: 60%;
  height: 400px;
  padding: 20px;
  border: 2px solid #ddd;
}
.about #aboutTab dd .company .content.cont3 {
  width: 100%;
}
.about #aboutTab dd .company .content.cont3 .left {
  width: 40%;
  margin-right: 20%;
  float: left;
}
.about #aboutTab dd .company .content.cont3 .left .img {
  position: relative;
  width: 100%;
  height: 500px;
}
.about #aboutTab dd .company .content.cont3 .left .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about #aboutTab dd .company .content.cont3 .left .img img.img2 {
  z-index: 2;
  position: absolute;
  top: 50%;
  right: -25%;
  transform: translateY(-50%);
  width: 60%;
  height: 400px;
  padding: 20px;
  border: 2px solid #ddd;
}
.about #aboutTab dd .company .content.cont3 .right {
  width: 40%;
  float: right;
}
.about #aboutTab dd .company .content.cont3 .right span {
  display: block;
  margin-bottom: 30px;
  font-size: 18px;
}
.about #aboutTab dd .company .content.cont3 .right h1 {
  margin-bottom: 60px;
  font-size: 55px;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Koulen";
}
.about #aboutTab dd .company .content.cont3 .right p {
  font-size: 25px;
  line-height: 1.4;
  color: #777;
  font-family: "Open Sans";
}
.about #aboutTab dd .company .text-box {
  width: 100%;
  height: 200px;
  padding: 300px 0;
}
.about #aboutTab dd .company .text-box svg {
  float: right;
}
.about #aboutTab dd .company .text-box svg text {
  font-size: 3em;
  fill: transparent;
  stroke: #a5a199;
  stroke-width: 1px;
  stroke-dasharray: 465;
  stroke-dashoffset: 465;
}
.about #aboutTab dd .company .banner {
  background: url(../img/company.jpg) no-repeat center/cover;
  width: 100%;
  height: 400px;
  transition: 1s;
}
.about #aboutTab dd .company .banner.on {
  transform: scale(1.2);
}
.about #aboutTab dd .members .sub_visual_members .inner h1 {
  padding: 100px 0;
  font-family: "Koulen";
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
}
.about #aboutTab dd .members .sub_visual_members .inner h1 strong {
  font-weight: 400;
  color: lightpink;
}
.about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member {
  position: relative;
  float: left;
  width: 25%;
  height: 300px;
}
.about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #b9edfd;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member:nth-of-type(2)::after, .about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member:nth-of-type(8)::after, .about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member:nth-of-type(9)::after {
  background-color: #f5a7b4;
}
.about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member.noMember .text {
  left: 30px;
  bottom: 70px;
  opacity: 1;
  transform: translateY(0);
}
.about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member.noMember .text span {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
}
.about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member.noMember .text h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}
.about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member.noMember .text a {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid lightpink;
  color: lightpink;
  font-size: 13px;
}
.about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member.noMember::after {
  display: none;
}
.about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
}
.about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member .text {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  left: 10px;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(30px);
}
.about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member .text h2 {
  font-size: 25px;
  margin-bottom: 3px;
}
.about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member .text p {
  font-size: 18px;
}
.about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member:hover .text {
  opacity: 1;
  transform: translateY(0);
}
.about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member:hover::after {
  background-color: #fff;
}
.about #aboutTab dd .members .sub_visual_members .inner .member-wrap .member:hover img {
  filter: grayscale(0);
}

@media screen and (max-width: 1179px) {
  .members .sub_visual_members .inner h1 {
    padding: 100px 20px;
  }
  .members .sub_visual_members .inner .member-wrap .member {
    width: 50%;
  }
}
@media screen and (max-width: 539px) {
  .members .sub_visual_members .inner h1 {
    font-size: 28px;
  }
  .members .member-wrap .member {
    width: 100%;
  }
}
.gallery .galleryCont #searchBox {
  margin-bottom: 50px;
  padding: 40px 0;
  background-color: #f5f5fa;
  border-radius: 10px;
  width: 100%;
  font-size: 0;
  text-align: center;
}
.gallery .galleryCont #searchBox h2 {
  display: inline-block;
  font-size: 18px;
  margin-right: 20px;
}
.gallery .galleryCont #searchBox #search {
  width: 300px;
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 16px;
}
.gallery .galleryCont #searchBox .btnSearch {
  margin-left: 10px;
  width: 80px;
  height: 40px;
  background-color: lightblue;
  font-size: 15px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
  border: none;
  border-radius: 10px;
}
.gallery .galleryCont #searchBox p {
  margin-top: 10px;
  font-size: 15px;
  color: hotpink;
}
.gallery .galleryCont .loading {
  width: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}
.gallery .galleryCont .loading.off {
  opacity: 0;
}
.gallery .galleryCont #list {
  width: 100%;
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
.gallery .galleryCont #list.on {
  opacity: 1;
  transform: translateY(0px);
}
.gallery .galleryCont #list li {
  width: calc(100% /3);
  float: left;
  padding: 10px;
}
.gallery .galleryCont #list li div {
  width: 100%;
  padding: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0;
}
.gallery .galleryCont #list li div .title-wrap {
  margin-bottom: 20px;
}
.gallery .galleryCont #list li div .title-wrap p {
  padding: 5px 0;
  float: left;
  font-size: 15px;
  line-height: 1.2;
  color: #777;
  word-break: break-word;
}
.gallery .galleryCont #list li div .title-wrap span {
  padding: 5px 0;
  float: right;
  display: flex;
  align-items: center;
}
.gallery .galleryCont #list li div .title-wrap span img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.gallery .galleryCont #list li div .title-wrap span strong {
  font-size: 12px;
  color: lightblue;
}
.gallery .galleryCont #list li div a img {
  width: 100%;
  filter: grayscale(100%);
}
.gallery .galleryCont #list li div:hover a img {
  filter: grayscale(0%);
}
.gallery .galleryCont .noResult {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
.gallery .galleryCont .noResult img {
  width: 100%;
  height: 100%;
}

.vidList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
.vidList article {
  width: 48%;
  height: 400px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.vidList article .pic {
  display: block;
  width: 100%;
  height: 70%;
}
.vidList article .pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.vidList article .con {
  width: 100%;
  height: 30%;
  padding: 20px;
}
.vidList article .con h2 {
  font: bold 20px/1.2 "arial";
  color: #444;
  margin-bottom: 15px;
}
.vidList article .con p {
  font: 14px/1.4 "arial";
  color: #666;
  margin-bottom: 20px;
}
.vidList article .con span {
  font: bold 16px/1 "arial";
  color: orange;
}

.community > .inner .search-wrap {
  text-align: center;
  padding: 20px 0;
  background-color: #f5f5fa;
  border-radius: 10px;
  line-height: 81px;
}
.community > .inner .search-wrap h2 {
  display: inline-block;
  font-size: 18px;
  margin-right: 20px;
}
.community > .inner .search-wrap input {
  padding-left: 10px;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  font-size: 16px;
}
.community > .inner .search-wrap button {
  width: 100px;
  height: 40px;
  line-height: 1;
  font-size: 15px;
  background-color: lightblue;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.community > .inner #faqList {
  margin-top: 30px;
  width: 100%;
}
.community > .inner #faqList thead tr th {
  background-color: #333;
  color: #fff;
  padding: 15px;
}
.community > .inner #faqList thead tr th:nth-of-type(1) {
  width: 10%;
}
.community > .inner #faqList thead tr th:nth-of-type(2) {
  width: 20%;
}
.community > .inner #faqList thead tr th:nth-of-type(3) {
  width: 70%;
}
.community > .inner #faqList tbody {
  border-bottom: 1px solid #ddd;
}
.community > .inner #faqList tbody tr td span i {
  font-size: 20px;
  position: relative;
}
.community > .inner #faqList tbody tr td span i::after {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: lightblue;
}
.community > .inner #faqList tbody tr td:nth-of-type(2) {
  color: #aeaeba;
}
.community > .inner #faqList tbody tr.toggle_faq {
  border-top: 1px solid #ddd;
  cursor: pointer;
}
.community > .inner #faqList tbody tr.toggle_faq td {
  position: relative;
  text-align: center;
  font-size: 18px;
  padding: 20px;
}
.community > .inner #faqList tbody tr.toggle_faq td strong {
  margin-left: 20px;
}
.community > .inner #faqList tbody tr.toggle_faq td strong i {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  font-size: 30px;
}
.community > .inner #faqList tbody tr.toggle_faq td:last-child {
  text-align: left;
}
.community > .inner #faqList tbody tr.toggle_faq:first-of-type {
  border-top: none;
}
.community > .inner #faqList tbody tr.toggle_faq_a {
  width: 100%;
  background-color: #f5f5fa;
  border-radius: 10px;
}
.community > .inner #faqList tbody tr.toggle_faq_a td {
  padding: 50px 50px 50px 30%;
}
.community > .inner #faqList tbody tr.toggle_faq_a td .board_faq_content {
  padding: 15px;
}
.community > .inner #faqList tbody tr.toggle_faq_a td .board_faq_content p {
  display: inline-block;
  margin-left: 20px;
  font-size: 16px;
}
.community > .inner .pagination {
  margin: 30px auto;
  width: 200px;
  text-align: center;
}
.community > .inner .pagination .prev {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  color: #eee;
  background-color: #555;
  text-align: center;
}
.community > .inner .pagination .prev i {
  color: #fff;
}
.community > .inner .pagination .next {
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  color: #eee;
  background-color: #555;
  text-align: center;
}
.community > .inner .pagination .next i {
  color: #fff;
}
.community > .inner .pagination .numbers {
  display: inline-block;
  font-size: 0;
}
.community > .inner .pagination .numbers a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #888;
  font-size: 11px;
  line-height: 30px;
  color: #666;
  margin: 0 5px;
  transition: 0.5s;
}
.community > .inner .pagination .numbers a:hover {
  background-color: #666;
  color: #fff;
}

/* 회원가입 페이지 */
.join {
  width: 100%;
}
.join > .inner .terms-wrap {
  margin-bottom: 100px;
}
.join > .inner .terms-wrap input {
  width: 16px;
  height: 16px;
}
.join > .inner .terms-wrap label {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 600;
}
.join > .inner .terms-wrap label strong {
  color: lightpink;
}
.join > .inner .terms-wrap .title {
  margin-bottom: 50px;
}
.join > .inner .terms-wrap .title h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
.join > .inner .terms-wrap .title p {
  font-size: 20px;
  word-break: keep-all;
}
.join > .inner .terms-wrap .all-agree-wrap {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.join > .inner .terms-wrap .agree-wrap {
  margin-top: 30px;
}
.join > .inner .terms-wrap .agree-wrap .agreement {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.join > .inner .terms-wrap .agree-wrap .terms {
  padding: 20px 0 20px 20px;
}
.join > .inner .terms-wrap .agree-wrap .terms .content {
  width: 100%;
  height: 150px;
  padding: 20px;
  overflow: auto;
  background-color: #fbfbfb;
  font-size: 18px;
  line-height: 1.6;
}
.join > .inner .userInfo-wrap {
  width: 100%;
}
.join > .inner .userInfo-wrap h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 50px;
  font-size: 30px;
  color: #333;
}
.join > .inner .userInfo-wrap .userInfo {
  position: relative;
  float: left;
  width: 48%;
  height: 100px;
  margin-right: 2%;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.join > .inner .userInfo-wrap .userInfo:nth-of-type(2n) {
  float: right;
  margin-right: 0;
}
.join > .inner .userInfo-wrap .userInfo label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  color: #777;
}
.join > .inner .userInfo-wrap .userInfo input {
  border: none;
  width: 100%;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.join > .inner .userInfo-wrap .userInfo select {
  padding: 2px;
  font-size: 15px;
}
.join > .inner .userInfo-wrap .userInfo .gender-wrap {
  margin-top: 10px;
  width: 100%;
}
.join > .inner .userInfo-wrap .userInfo .gender-wrap input {
  margin-top: 4px;
  margin-right: 5px;
  width: auto;
  float: left;
}
.join > .inner .userInfo-wrap .userInfo .gender-wrap label {
  float: left;
  margin-bottom: 0;
  font-size: 18px;
}
.join > .inner .userInfo-wrap .userInfo .gender-wrap label:last-child {
  margin-left: 20px;
}
.join > .inner .userInfo-wrap .userInfo .line {
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background-color: #ddd;
}
.join > .inner .userInfo-wrap .userInfo p {
  margin-top: 5px;
  color: lightpink;
}
.join > .inner .btn-wrap {
  width: 100%;
}
.join > .inner .btn-wrap input {
  padding: 16px 30px;
  font-size: 20px;
  border-radius: 50px;
}
.join > .inner .btn-wrap .btnReset {
  float: left;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.join > .inner .btn-wrap .btnSubmit {
  float: right;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

/* 회원가입 완료 페이지 */
#result {
  height: calc(100vh - 100px);
}
#result .inner {
  position: relative;
  height: 100%;
}
#result .inner .wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#result .inner .wrap p {
  font-size: 50px;
  line-height: 1.8;
}

@media screen and (max-width: 1179px) {
  /* 회원가입 페이지 */
  .join > .inner {
    padding: 50px 20px;
  }
  .join > .inner .userInfo-wrap .userInfo {
    width: 100%;
    margin-right: 0;
  }
  .join > .inner .btn-wrap input {
    padding: 12px 20px;
    font-size: 15px;
  }

  #result .inner .wrap p {
    font-size: 40px;
  }
}
@media screen and (max-width: 539px) {
  .join > .inner .terms-wrap .title h2 {
    font-size: 27px;
  }
  .join > .inner .terms-wrap .title p {
    font-size: 15px;
  }

  #result .inner .wrap p {
    font-size: 24px;
  }
}
.inner {
  width: 1180px;
  margin: 0 auto;
}

body.on {
  overflow: hidden;
}

#mainPage section h1 {
  font-size: 30px;
  margin-bottom: 5px;
}
#mainPage section h2 {
  font-size: 16px;
  color: #777;
}

#header {
  z-index: 10;
  position: relative;
  width: 100%;
  height: 70px;
  line-height: 70px;
  transition: 0.5s;
  border-bottom: 1px solid #ddd;
}
#header h1 {
  float: left;
}
#header h1 a {
  font-size: 30px;
}
#header nav {
  float: right;
}
#header nav ul li {
  float: left;
  margin-left: 25px;
}
#header nav ul li a {
  font-size: 16px;
  color: #777;
  transition: 0.3s;
}
#header nav ul li a:hover {
  color: #000;
}
#header.main_hd {
  border-bottom: none;
}
#header.main_hd.on {
  z-index: 20;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.moreBtn {
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: #555;
  transition: 0.5s;
}
.moreBtn::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: lightblue;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.5s;
}
.moreBtn span {
  display: inline-block;
  border: 1px solid #555;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #555;
  opacity: 1;
  transition: 0.5s;
}
.moreBtn:hover {
  color: lightblue;
}
.moreBtn:hover::after {
  width: 100%;
}
.moreBtn:hover span {
  opacity: 0;
}

#visual {
  width: 100%;
  height: calc(100vh - 70px);
}
#visual .swiper {
  position: relative;
  width: 100%;
  height: 100%;
}
#visual .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#visual .swiper-slide .inner {
  height: 100%;
  position: relative;
}
#visual .swiper-slide .inner .text-wrap {
  position: absolute;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
  text-align: left;
}
#visual .swiper-slide .inner .text-wrap h1 {
  margin-bottom: 70px;
  font-family: "Koulen";
  font-size: 7vw;
  letter-spacing: 2px;
  line-height: 1;
}
#visual .swiper-slide .inner .text-wrap p {
  margin-bottom: 30px;
  font-size: 30px;
  color: #555;
  line-height: 1.2;
}
#visual .swiper-slide .inner .text-wrap .moreBtn {
  font-size: 20px;
}
#visual .swiper-slide.slide2 .text-wrap h1, #visual .swiper-slide.slide3 .text-wrap h1 {
  color: #fff;
}
#visual .swiper-slide.slide2 .text-wrap p, #visual .swiper-slide.slide3 .text-wrap p {
  color: #ddd;
}
#visual .swiper-slide.slide2 .text-wrap .moreBtn, #visual .swiper-slide.slide3 .text-wrap .moreBtn {
  color: #fff;
}
#visual .swiper-slide.slide2 .text-wrap .moreBtn span, #visual .swiper-slide.slide3 .text-wrap .moreBtn span {
  color: #ddd;
  border: 1px solid #fff;
}
#visual .swiper-slide.slide2 .text-wrap .moreBtn:hover, #visual .swiper-slide.slide3 .text-wrap .moreBtn:hover {
  color: lightblue;
}
#visual .swiper-slide.slide1 {
  background: url(../img/visual1.jpg) no-repeat center/cover;
}
#visual .swiper-slide.slide2 {
  background: url(../img/visual2.jpg) no-repeat center/cover;
}
#visual .swiper-slide.slide3 {
  background: url(../img/visual3.jpg) no-repeat center/cover;
}
#visual .swiper-pagination {
  bottom: auto;
  top: 60px;
  left: auto;
  right: 50px;
  text-align: right;
}
#visual .swiper-pagination .swiper-pagination-bullet {
  width: 100px;
  height: 10px;
  border-radius: 10px;
  background-color: lightblue;
  opacity: 0.5;
  transition: 1s;
}
#visual .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  width: 150px;
}

#about {
  width: 100%;
}
#about .article1 {
  width: 100%;
  margin-bottom: 100px;
}
#about .article1 .icon-wrap {
  width: 50%;
  margin: 0 auto;
  padding: 100px 0;
}
#about .article1 .icon-wrap .cont {
  position: relative;
  float: left;
  width: 25%;
  text-align: center;
  cursor: pointer;
}
#about .article1 .icon-wrap .cont i {
  font-size: 35px;
  margin-bottom: 20px;
  transition: 0.5s;
}
#about .article1 .icon-wrap .cont span {
  display: block;
  font-size: 16px;
}
#about .article1 .icon-wrap .cont:first-child::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 70%;
  background-color: #ddd;
}
#about .article1 .icon-wrap .cont::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 70%;
  background-color: #ddd;
}
#about .article1 .icon-wrap .cont:hover i {
  transform: translateY(-10px);
  color: lightblue;
}
#about .article1 .text-wrap .left {
  float: left;
}
#about .article1 .text-wrap .right {
  float: left;
  margin-left: 50px;
}
#about .article1 .text-wrap .right p {
  font-size: 20px;
  line-height: 1.4;
  color: #555;
}
#about .article1 .text-wrap .right a {
  margin-top: 20px;
  font-size: 16px;
}
#about .article2 {
  margin-bottom: 100px;
}
#about .article2 .youtube {
  float: left;
  width: 50%;
  height: 500px;
}
#about .article2 .youtube article {
  position: relative;
  width: 100%;
  height: 100%;
}
#about .article2 .youtube article > .pic {
  display: block;
  width: 100%;
  height: 100%;
}
#about .article2 .youtube article > .pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about .article2 .youtube article .con {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}
#about .article2 .youtube article .con > h2 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
#about .article2 .youtube article .con > p {
  font-size: 16px;
  line-height: 1.6;
  color: #ddd;
  margin-bottom: 20px;
}
#about .article2 .youtube article .con > span {
  font-size: 16px;
  font-weight: 600;
  color: lightblue;
}
#about .article2 .youtube article > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  opacity: 0;
}
#about .article2 .youtube article > a i {
  font-size: 80px;
  color: #000;
}
#about .article2 .youtube article:hover .con {
  opacity: 1;
  transform: translateY(0);
}
#about .article2 .youtube article:hover > a {
  opacity: 1;
}
#about .article2 .text-wrap {
  float: right;
  width: 50%;
  height: 500px;
  padding: 40px 80px;
}
#about .article2 .text-wrap ul {
  margin: 50px 0;
}
#about .article2 .text-wrap ul li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 20px;
}
#about .article2 .text-wrap ul li::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#about .article3 {
  margin-bottom: 150px;
}
#about .article3 .inner .pic {
  float: left;
  width: 380px;
  height: 300px;
  margin-right: 20px;
}
#about .article3 .inner .pic img {
  margin-top: 20%;
  width: 80%;
  height: 80%;
}
#about .article3 .inner .text-wrap {
  float: left;
  width: 760px;
}
#about .article3 .inner .text-wrap > div {
  margin-top: 20px;
}
#about .article3 .inner .text-wrap > div p {
  float: left;
  width: 49%;
  font-size: 18px;
  line-height: 1.4;
  color: #777;
}
#about .article3 .inner .text-wrap > div p:last-child {
  float: right;
}
#about .article3 .inner .text-wrap a {
  margin-top: 20px;
}

#banner {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 100px;
  overflow: hidden;
}
#banner .wrap {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
#banner .wrap .list li {
  float: left;
  width: 380px;
  height: 200px;
  filter: grayscale(1);
  transition: 0.5s;
}
#banner .wrap .list li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#banner .wrap .list li a img {
  width: 100%;
  height: 100%;
}
#banner .wrap .list li a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 2px gray;
  opacity: 0;
  transition: 0.5s;
}
#banner .wrap .list li:hover {
  filter: grayscale(0);
}
#banner .wrap .list li:hover span {
  opacity: 1;
  transform: translate(-50%, -50%);
}
#banner .wrap .prev {
  position: absolute;
  left: -120px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.5s;
}
#banner .wrap .prev img {
  width: 35px;
}
#banner .wrap .next {
  position: absolute;
  right: -120px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.5s;
}
#banner .wrap .next img {
  width: 35px;
}
#banner .wrap:hover .prev {
  left: 20px;
  opacity: 1;
}
#banner .wrap:hover .next {
  right: 20px;
  opacity: 1;
}

#service .inner .article-wrap {
  width: 100%;
  padding: 100px 0;
}
#service .inner .article-wrap article {
  float: left;
  width: 380px;
  height: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
}
#service .inner .article-wrap article:nth-child(3n) {
  margin-right: 0;
}
#service .inner .article-wrap article .icon-wrap {
  float: left;
  width: 20%;
}
#service .inner .article-wrap article .icon-wrap i {
  display: block;
  font-size: 28px;
}
#service .inner .article-wrap article .icon-wrap i:last-child {
  margin-top: 10px;
  opacity: 0.2;
}
#service .inner .article-wrap article .text-wrap {
  float: right;
  width: 80%;
}
#service .inner .article-wrap article .text-wrap h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

#display {
  margin-bottom: 100px;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.4);
}
#display .inner {
  padding: 10px 0;
}
#display .inner .card {
  float: left;
  width: 49%;
  height: 100%;
  background-color: #fff;
  margin-right: 2%;
  padding: 85px 30px;
  text-align: center;
}
#display .inner .card h2 {
  font-size: 40px;
  color: #333;
}
#display .inner .card h3 {
  font-size: 20px;
  color: #555;
  font-weight: 400;
}
#display .inner .card p {
  margin-top: 100px;
  font-size: 16px;
  line-height: 1.6;
}
#display .inner .card a {
  margin-top: 60px;
}
#display .inner .img {
  position: relative;
  float: right;
  width: 49%;
  height: 500px;
}
#display .inner .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#display .inner .img .img2 {
  width: 60%;
  height: 80%;
  position: absolute;
  top: 200px;
  right: -70px;
  padding: 20px;
  border: 2px solid #ddd;
}

#news {
  margin-bottom: 100px;
}
#news .inner .article-wrap {
  width: 100%;
  margin-top: 100px;
}
#news .inner .article-wrap article {
  position: relative;
  float: left;
  width: 380px;
  height: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: rgba(238, 238, 238, 0.3);
  cursor: pointer;
}
#news .inner .article-wrap article:nth-of-type(3n) {
  margin-right: 0;
}
#news .inner .article-wrap article .border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#news .inner .article-wrap article .border > div {
  position: absolute;
  background-color: lightblue;
}
#news .inner .article-wrap article .border > div.borderTop {
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
}
#news .inner .article-wrap article .border > div.borderRight {
  top: 0;
  right: 0;
  width: 4px;
  height: 0;
}
#news .inner .article-wrap article .border > div.borderBottom {
  right: 0;
  bottom: 0;
  width: 0;
  height: 4px;
}
#news .inner .article-wrap article .border > div.borderLeft {
  left: 0;
  bottom: 0;
  width: 4px;
  height: 0;
}
#news .inner .article-wrap article .text-wrap {
  position: relative;
  padding: 20px;
  width: 100%;
  height: 100%;
}
#news .inner .article-wrap article .text-wrap h3 {
  font-size: 25px;
  margin-bottom: 20px;
}
#news .inner .article-wrap article .text-wrap p {
  font-size: 16px;
  line-height: 1.4;
}
#news .inner .article-wrap article .text-wrap span {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 18px;
  font-weight: 600;
}
#news .inner .article-wrap article .pic {
  width: 100%;
  height: 100%;
}
#news .inner .article-wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#clients {
  margin-bottom: 100px;
}
#clients .inner {
  position: relative;
}
#clients .inner .slide-container {
  width: 100%;
  position: relative;
}
#clients .inner .slide-container .btn-wrap a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#clients .inner .slide-container .btn-wrap a.prev {
  left: -65px;
}
#clients .inner .slide-container .btn-wrap a.next {
  right: -65px;
}
#clients .inner .slide-wrap {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}
#clients .inner .slide-wrap .cont-wrap {
  position: absolute;
  top: 0;
  left: -100%;
  width: calc(25% * 8);
  height: 20vh;
}
#clients .inner .slide-wrap .cont-wrap .cont {
  float: left;
  width: 25%;
  height: 20vh;
  margin-right: 1%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
#clients .inner .slide-wrap .cont-wrap .cont:first-child {
  margin-right: 0;
}
#clients .inner .slide-wrap .cont-wrap .cont a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 20vh;
  font-size: 24px;
  transition: 0.5s;
  opacity: 0.5;
}
#clients .inner .slide-wrap .cont-wrap .cont a img {
  width: 100%;
  height: 100%;
}
#clients .inner .slide-wrap .cont-wrap .cont a:hover {
  opacity: 1;
  transform: scale(0.9);
}
#clients .inner .slide-wrap .cont-wrap .cont a:hover::before {
  background-color: #ccc;
}
#clients .inner .slide-wrap .cont-wrap .cont a:hover::after {
  background-color: #ccc;
}

#number {
  margin-bottom: 100px;
  width: 100%;
  padding: 100px 0;
  background: url(../img/sub_banner3.jpg) no-repeat center/cover;
}
#number .inner .text {
  float: left;
  width: 24%;
}
#number .inner .text span {
  margin-right: 20px;
  float: left;
  font-size: 36px;
  font-weight: 600;
}
#number .inner .text p {
  float: left;
  font-size: 16px;
  color: #555;
  line-height: 46px;
}

#gallery {
  width: 100%;
}
#gallery .pic {
  position: relative;
  float: left;
  width: 33.33%;
  height: 300px;
}
#gallery .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#gallery .pic .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  text-align: center;
}
#gallery .pic .text h1 {
  font-size: 26px;
}
#gallery .pic .text h2 {
  font-size: 15px;
}
#gallery .pic .text a {
  margin-top: 25px;
  font-size: 13px;
}
#gallery .pic:nth-of-type(1) img {
  filter: grayscale(1);
}
#gallery .pic:nth-of-type(1) .text h1, #gallery .pic:nth-of-type(1) .text h2, #gallery .pic:nth-of-type(1) .text a {
  color: #fff;
}
#gallery .pic:nth-of-type(1) .text a span {
  color: #fff;
  border: 1px solid #fff;
}

#footer {
  width: 100%;
  padding: 60px 0 30px 0;
  background-color: #222;
}
#footer .inner .footer-cont {
  width: 100%;
}
#footer .inner .footer-cont .cont {
  float: left;
  width: 280px;
  height: 250px;
  margin-right: 20px;
}
#footer .inner .footer-cont .cont:last-child {
  margin-right: 0;
}
#footer .inner .footer-cont .cont h2 {
  color: rgba(255, 255, 255, 0.8);
}
#footer .inner .footer-cont .cont:nth-of-type(1) h1 {
  margin-bottom: 30px;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.6);
}
#footer .inner .footer-cont .cont:nth-of-type(1) input {
  margin-bottom: 20px;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 30px;
  background-color: #222;
  font-size: 20px;
  color: #fff;
}
#footer .inner .footer-cont .cont:nth-of-type(1) .subscribe {
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 40px;
  font-size: 16px;
  padding: 15px 30px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
#footer .inner .footer-cont .cont:nth-of-type(1) > p {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.6;
}
#footer .inner .footer-cont .cont:nth-of-type(2) address {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 16px;
  line-height: 2.6;
}
#footer .inner .footer-cont .cont:nth-of-type(3) ul {
  margin-top: 30px;
}
#footer .inner .footer-cont .cont:nth-of-type(3) ul li a {
  color: rgba(255, 255, 255, 0.6);
  line-height: 2;
}
#footer .inner .footer-cont .cont:nth-of-type(4) div {
  margin-top: 30px;
}
#footer .inner .footer-cont .cont:nth-of-type(4) div span {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.5;
}
#footer .inner .footer-cont .cont:nth-of-type(4) div p {
  margin-top: 5px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}
#footer .inner > p {
  margin-top: 50px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

#topBtn {
  z-index: 10;
  position: fixed;
  right: 30px;
  bottom: 50px;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(173, 216, 230, 0.9);
  box-shadow: 0 2px 6px rgba(136, 170, 182, 0.2);
  transform: translateY(100px);
  transition: 1s;
  opacity: 0;
}
#topBtn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #71a6b8;
}
#topBtn.on {
  opacity: 1;
  transform: translateY(0);
}

.commonPop {
  z-index: 20;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  padding: 10vw 20vw;
  opacity: 0;
}
.commonPop .pic {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.commonPop .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.commonPop iframe {
  border-radius: 10px;
}
.commonPop > span {
  position: absolute;
  top: 5vw;
  right: 20vw;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border: 2px solid #ddd;
  padding: 10px 20px;
  border-radius: 10px;
}

@media screen and (max-width: 1179px) {
  .inner {
    width: 100%;
    padding: 0 20px;
  }

  #header {
    height: 80px;
    line-height: 80px;
  }
  #header .inner h1 a {
    font-size: 25px;
  }
  #header .inner .webNav {
    display: none;
  }

  #footer .inner .footer-cont .cont {
    width: 48%;
    margin-right: 2%;
  }
  #footer .inner .footer-cont .cont:nth-of-type(1) h1 {
    font-size: 24px;
  }
  #footer .inner .footer-cont .cont:nth-of-type(1) .subscribe {
    padding: 8px 20px;
  }
  #footer .inner .footer-cont .cont:nth-of-type(1) > p {
    font-size: 15px;
  }
  #footer .inner .footer-cont .cont:nth-of-type(2n) {
    margin-right: 0;
    float: right;
  }
}
@media screen and (max-width: 539px) {
  #footer .inner .footer-cont .cont {
    width: 100%;
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
