.community {
  width: 100%;

  >.inner {
    min-height: 500px;
    padding: 50px 0;

    .search-wrap {
      text-align: right;

      input {
        padding-left: 10px;
        width: 150px;
        height: 25px;
      }
      button {
        width: 50px;
        height: 25px;
        line-height: 1;
        font-size: 13px;
        color: #555;
        cursor: pointer;
      }
    }

    .list-wrap {
      margin-top: 20px;
      width: 100%;
      border-top: 1px solid #333;
      border-bottom: 1px solid #333;
  
      .list{
        border-bottom: 1px solid #ddd;
        transition: 0.5s;
  
        ul {
          width: 100%;
          text-align: center;
          cursor: pointer;
  
          li {
            float: left;
            padding: 20px 0;
            font-size: 16px;
            line-height: 1;
            color: #333;
  
            &:nth-of-type(1) { width: 10%; }
            &:nth-of-type(2) { width: 50%; }
            &:nth-of-type(3) { width: 30%; color: #777; }
            &:nth-of-type(4) { width: 10%; }

            &.question {
              position: relative;

              &::before {
                z-index: -1;
                content: '';
                display: block;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: #ddd;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
              }
            }
          }
        }

        >div {
          width: 100%;
          min-height: 150px;
          margin: 0 auto;
          padding: 30px 50px;
          background-color: #eee;

            p {
              font-size: 16px;
              line-height: 1.6;
            }
          
        }

        &:last-child {
          border-bottom: none;
        }
      } 
    }

    .pagination {
      margin: 30px auto;
      width: 200px;
      text-align: center;

      .prev {
        float: left;
        display: block;
        width: 30px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        color: #eee;
        background-color: #555;
        text-align: center;

        i {
          color: #fff;
        }
      }
      .next {
        float: right;
        display: block;
        width: 30px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        color: #eee;
        background-color: #555;
        text-align: center;

        i {
          color: #fff;
        }
      }

      .numbers {
        display: inline-block;
        font-size: 0;

        a {
          display: inline-block;
          width: 30px;
          height: 30px;
          border: 1px solid #888;
          font-size: 11px;
          line-height: 30px;
          color: #666;
          margin: 0 5px;
          transition: 0.5s;

          &:hover {
            background-color: #666;
            color: #fff;
          }
        }
      }
    }
  }
  
}

@media screen and (max-width:$tablet) {
  .community {
    > .inner{
      padding: 50px 20px;
    }
  } 
}

@media screen and (max-width:$mobile) {

}