.community{
  >.inner {
    .search-wrap {
      text-align: center;
      padding: 20px 0;
      background-color: #f5f5fa;
      border-radius: 10px;
      line-height: 81px;

      h2{
        display: inline-block;
        font-size: 18px;
        margin-right: 20px;
      }
  
      input {
        padding-left: 10px;
        width: 300px;
        height: 40px;
        border-radius: 10px;
        border: none;
        margin-right: 10px;
        font-size: 16px;
      }
      button {
        width: 100px;
        height: 40px;
        line-height: 1;
        font-size: 15px;
        background-color: lightblue;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    #faqList{
      margin-top: 30px;
      width: 100%;

      thead{
        tr {
          th{
            background-color: #333;
            color: #fff;
            padding: 15px;
  
            &:nth-of-type(1){
              width: 10%;
            }
            &:nth-of-type(2){
              width: 20%;
            }
            &:nth-of-type(3){
              width: 70%;
            }
          }
        }
      }

      tbody{
        border-bottom: 1px solid #ddd;
        tr td {
          span{
            i{
              font-size: 20px;
              position: relative;

              &::after{
                z-index: -1;
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: lightblue;
              }
            }
          }
          &:nth-of-type(2){
            color: #aeaeba;
          }
        }

        tr.toggle_faq{
          border-top: 1px solid #ddd;
          cursor: pointer;

          td{
            position: relative;
            text-align: center;
            font-size: 18px;
            padding: 20px;

            strong{
              margin-left: 20px;
              i{
                position: absolute;
                top: 50%;
                right: 50px;
                transform: translateY(-50%);
                font-size: 30px;
              }
            }

            &:last-child{
              text-align: left;
            }
          }

          &:first-of-type{
            border-top: none;
          }

        }

        tr.toggle_faq_a{
          width: 100%;
          background-color: #f5f5fa;
          border-radius: 10px;
          // display: none;
          
          td{
            padding: 50px 50px 50px 30%;

            .board_faq_content{
              padding: 15px;

              p{
                display: inline-block;
                margin-left: 20px;
                font-size: 16px;
              }
            }
          }
          
        }
      }
    }

    .pagination {
      margin: 30px auto;
      width: 200px;
      text-align: center;

      .prev {
        float: left;
        display: block;
        width: 30px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        color: #eee;
        background-color: #555;
        text-align: center;

        i {
          color: #fff;
        }
      }
      .next {
        float: right;
        display: block;
        width: 30px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        color: #eee;
        background-color: #555;
        text-align: center;

        i {
          color: #fff;
        }
      }

      .numbers {
        display: inline-block;
        font-size: 0;

        a {
          display: inline-block;
          width: 30px;
          height: 30px;
          border: 1px solid #888;
          font-size: 11px;
          line-height: 30px;
          color: #666;
          margin: 0 5px;
          transition: 0.5s;

          &:hover {
            background-color: #666;
            color: #fff;
          }
        }
      }
    }
  }
  
}