
.gallery{
  .galleryCont{

    #searchBox{
      margin-bottom: 50px;
      padding: 40px 0;
      background-color: #f5f5fa;
      border-radius: 10px;
      width: 100%;
      font-size: 0;
      text-align: center;

      h2{
        display: inline-block;
        font-size: 18px;
        margin-right: 20px;
      }
  
      #search{
        width: 300px;
        height: 40px;
        padding-left: 10px;
        border-radius: 10px;
        font-size: 16px;
      }
      .btnSearch{
        margin-left: 10px;
        width: 80px;
        height: 40px;
        background-color: lightblue;
        font-size: 15px;
        line-height: 40px;
        color: #fff;
        text-align: center;
        cursor: pointer;
        vertical-align: top;
        border: none;
        border-radius: 10px;
      }
  
      p{
        margin-top: 10px;
        font-size: 15px;
        color: hotpink;
      }
    }
  
    .loading{
      width: 100px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      transition: 1s;
  
      &.off{
        opacity: 0;
      }
    }
  
    #list{
      width: 100%;
      opacity: 0;
      transform: translateY(100px);
      transition: 1s;
  
      &.on{
        opacity: 1;
        transform: translateY(0px);
      }
  
      li{
        width: calc(100% /3);
        float: left;
        padding: 10px;
  
        div{
          width: 100%;
          padding: 20px;
          box-shadow: 5px 5px 20px rgba($color: #000000, $alpha: 0.1);
          border-radius: 10px;
          font-size: 0;

          .title-wrap{
            margin-bottom: 20px;
            padding: 15px;

            p{
              padding: 5px 0;
              float: left;
              font-size: 15px;
              line-height: 1.2;
              color: #777;
              word-break: break-word;
            }
            span{
              padding: 5px 0;
              float: right;
              display: flex;
              align-items: center;
    
              img{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-right: 5px;
              }
    
              strong{
                font-size: 12px;
                color: lightblue;
              }
            }
          }
  
          a img{
            width: 100%;
            filter: grayscale(100%);
          }
          
  
  
          &:hover a img{
            filter: grayscale(0%);
          }
        }
      }
    }

    .noResult{
      width: 500px;
      height: 500px;
      margin: 0 auto;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width:1000px) {
  .gallery .galleryCont #list li{
    width: calc(100% /2);
  }
}

@media screen and (max-width:600px) {
  .gallery .galleryCont #list li{
    width: 100%;
  }
  .gallery .galleryCont #searchBox h2{
    display: none;
  }
  .gallery .galleryCont #searchBox #search{
    width: 220px;
  }
}