/* 회원가입 페이지 */
.join {
  width: 100%;

  >.inner{
    .terms-wrap {
      margin-bottom: 100px;

      input{
        width: 16px;
        height: 16px;
      }
      label{
        margin-left: 5px;
        font-size: 18px;
        font-weight: 600;

        strong{
          color: lightpink;
        }
      }

      .title{
        margin-bottom: 50px;

        h2 {
          font-size: 30px;
          margin-bottom: 10px;
        }
        p {
          font-size: 20px;
          word-break: keep-all;
        }
      }

      .all-agree-wrap{
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.1);
      }

      .agree-wrap{
        margin-top: 30px;

        .agreement{
          padding: 20px;
          border-radius: 5px;
          box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.1);
        }

        .terms{
          padding: 20px 0 20px 20px;

          .content{
            width: 100%;
            height: 150px;
            padding: 20px;
            overflow: auto;
            background-color: #fbfbfb;
            font-size: 18px;
            line-height: 1.6;
          }
          
        }
      }
    }
  
    .userInfo-wrap {
      width: 100%;
  
      h2 {
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 50px;
        font-size: 30px;
        color: #333;
      }
  
      .userInfo {
        position: relative;
        float: left;
        width: 48%;
        height: 100px;
        margin-right: 2%;
        margin-bottom: 20px;
        padding-bottom: 10px;
  
        &:nth-of-type(2n) {
          float: right;
          margin-right: 0;
        }
  
        label {
          display: block;
          margin-bottom: 10px;
          font-size: 15px;
          color: #777;
        }
  
        input {
          border: none;
          width: 100%;
          font-size: 18px;
          padding-bottom: 10px;
          border-bottom: 1px solid #ddd;
        }

        select{
          padding: 2px;
          font-size: 15px;
        }
  
        .gender-wrap {
          margin-top: 10px;
          width: 100%;
  
          input{
            margin-top: 4px;
            margin-right: 5px;
            width: auto;
            float: left;
          }
          label{
            float: left;
            margin-bottom: 0;
            font-size: 18px;
  
            &:last-child{
              margin-left: 20px;
            }
          }
        }

        .line{
          margin-top: 10px;
          width: 100%;
          height: 1px;
          background-color: #ddd;
        }

        p{
          margin-top: 5px;
          color: lightpink;
        }
      }
    }
  
    .btn-wrap{
      width: 100%;
  
      input{
        padding: 16px 30px;
        font-size: 20px;
        // box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.15);
        border-radius: 50px;
      }
  
      .btnReset{
        float: left;
        border: none;
        background-color: inherit;
        cursor: pointer;
      }
      .btnSubmit{
        float: right;
        background-color: #333;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

/* 회원가입 완료 페이지 */
#result {
  height: calc(100vh - 100px);

  .inner {
    position: relative;
    height: 100%;

    .wrap {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      p {
        font-size: 50px;
        line-height: 1.8;
      }
    }
  }
}


@media screen and (max-width:$tablet) {
  /* 회원가입 페이지 */
  .join {
    > .inner{
      padding: 50px 20px;

      .userInfo-wrap {
        .userInfo {
          width: 100%;
          margin-right: 0;
        }
      }
      .btn-wrap {
        input {
          padding: 12px 20px;
          font-size: 15px;
        }
      }
    }
  } 

  #result .inner .wrap p {
    font-size: 40px;
  }
}

@media screen and (max-width:$mobile) {
  .join > .inner .terms-wrap .title {
    h2{
      font-size: 27px;
    }
    p {
      font-size: 15px;
    }
  } 
  #result .inner .wrap p {
    font-size: 24px;
  }
}