@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Roboto','Noto Sans KR'; color: #333;}
ul,li,ol { list-style: none; }
a { text-decoration: none; }
table { border-collapse: collapse; }
fieldset { border: none; }
button { border: none; }
input { border: 1px solid #ddd; }
input:focus { outline: none; }

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
}