#header{
  &.header_sub {
    position: relative;
  }
}

section.content{
  >.inner{
    min-height: 500px;
    padding: 50px 0;
  }
}
.sub_visual {
  width: 100%;
  height: 30vh;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  background: url(../img/sub_banner.jpg) no-repeat center/cover;

  >.inner{
    position: relative;
    height: 100%;
  }

  h1 {
    position: absolute;
    left: 20px;
    bottom: 30px;
    font-size: 6vh;
    font-weight: 600;
    color: #333;
    text-shadow: 2px 2px 2px rgba($color: #777, $alpha: 0.5);

    span {
      margin-left: 20px;
      position: relative;
      padding-left: 20px;
      font-size: 4vh;
      font-weight: 400;
      color: #777;
      text-shadow: 2px 2px 2px rgba($color: #777, $alpha: 0.5);

      &::after {
        content: '/';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

@media screen and (max-width:$tablet) {
  .sub_visual {
    h1 {
      font-size: 5vh;
    }
    span {
      display: block;
      font-size: 3vh;
    }
  } 

  section.content{
    >.inner{
      padding: 50px 20px;
    }
  }
}

@media screen and (max-width:$mobile) {
  .sub_visual {
    h1 {
      font-size: 4vh;
    }
    span {
      font-size: 2vh;
    }
  } 
}