.vidList{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;

  article{
    width: 48%;
    height: 400px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border-radius: 10px;

    .pic{
      display: block;
      width: 100%;
      height: 70%;

      >img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    .con{
      width: 100%;
      height: 30%;
      padding: 20px;

      h2{
        font: bold 20px/1.2 'arial';
        color: #444;
        margin-bottom: 15px;
      }
      p{
        font: 14px/1.4 'arial';
        color: #666;
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width:920px) {
  .vidList{
    article{
      width: 49%;
      height: 400px;
      margin-bottom: 50px;
      box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
      border-radius: 10px;
  
      .pic{
        height: 80%;
      }
      .con{
        width: 100%;
        height: 20%;
        padding: 20px;
  
        h2{
          margin-bottom: 0;
          font-size: 16px;
        }
        p{
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width:$mobile) {
  .vidList{
    article{
      width: 100%;
    }
  }
} 